<div >
    <h2 class="text-center text-dark">PRODUCT MANAGEMENT </h2>
    <table id="userTable" >
        <thead  >
            <tr class="text-dark" >
                <th>Category</th>
                <th>Image</th>
                <th>product Details</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Option</th>
            </tr>
        </thead>

        <tbody class="text-dark">
            {{#each products}}
            {{#each this}}
            <tr>
                {{#if this.mobile}}
                <td>Mobile</td>
                {{else}}
                <td>Laptop</td>
                {{/if}}
                <td>
                    <img src="/images/productsImages/{{this._id}}(1).jpg" width="100" alt=""> </td>
                    <td>
                   <p>{{this.title}}</p>
                   <p>{{this.brand}}</p>
                   <p>{{this.rom}}</p>
                   <p>{{this.ssd}}</p>
                   <p>{{this.hdd}}</p>

                    
                    
                    </td>
              
                <td>{{this.price}}</td>
                <td>{{this.quantity}}</td>


                <td>
                    {{!-- <a href="/vendor/deleteProduct/{{this._id}}" class="icon-delete mr-3"
                        onclick="return confirm('are you sure about it {{this.title}}>?')"></a>
                    <a href="/vendor/editProduct/{{this._id}}" class="icon-mode_edit mr-3"></a> --}}
                    <a href="/admin/viewProduct/{{this._id}}" class="icon-pageview"></a>
                </td>
            
            </tr>
            {{/each}}
            {{/each}}
        </tbody>

    </table>
</div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        let table = new DataTable('#userTable');
    });
</script>