<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
          class="text-black">Cart</strong></div>
    </div>
  </div>
</div>

<div class="site-section">

  <div class="container">
    <div class="row mb-5">
      {{#if cart}}
      <form class="col-md-12" method="post">
        <div class="site-blocks-table">
          <table class="table table-bordered">
            <thead>


              <tr>
                <th class="product-thumbnail">Image</th>
                <th class="product-name">Product</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-remove">Remove</th>
              </tr>
            </thead>
            <tbody>

              {{#each cart}}

              <tr>
                <td class="product-thumbnail">
                  <img src="/images/productsImages/{{cart.productId}}(1).jpg" alt="Image" class="img-fluid "
                    style="width:5rem ; height:6rem ;">
                </td>
                <td class="product-name">
                  <h2 class="h5 text-black">{{cart.title}}</h2>
                </td>
                <td>{{cart.price}}</td>
                <td>
                  <div class="input-group mb-3" style="max-width: 120px;">
                    <div class="input-group-prepend">

                      <button onclick="changeQuantity('{{cart.cart_id}}',-1)"
                        class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>

                    </div>
                    <input type="text" class="form-control text-center" value="{{cart.quantity}}" placeholder=""
                      aria-label="Example text with button addon" aria-describedby="button-addon1">
                    <div class="input-group-append">
                      <button onclick="changeQuantity('{{cart.cart_id}}',1)" class="btn btn-outline-primary js-btn-plus"
                        type="button">&plus;</button>
                    </div>
                  </div>

                </td>
                <td><button onclick="deleteproduct('{{cart.cart_id}}')" class="btn btn-primary btn-sm">X</button></td>
              </tr>

              {{/each}}

            </tbody>
          </table>
        </div>
      </form>
      {{/if}}
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row mb-5">
          <div class="col-md-6 mb-3 mb-md-0">
            <button class="btn btn-primary btn-sm btn-block">Update Cart</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</button>
          </div>
        </div>
        {{!-- <div class="row">
          <div class="col-md-12">
            <label class="text-black h4" for="coupon">Coupon</label>
            <p>Enter your coupon code if you have one.</p>
          </div>
          <div class="col-md-8 mb-3 mb-md-0">
            <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
          </div>
          <div class="col-md-4">
            <button class="btn btn-primary btn-sm">Apply Coupon</button>
          </div>
        </div> --}}
      </div>
      <div class="col-md-6 pl-5">
        {{#if cart}}
        <div class="row justify-content-end">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-12 text-right border-bottom mb-5">
                <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <span class="text-black">Subtotal</span>
              </div>
              <div class="col-md-6 text-right">
                <strong class="text-black">{{cartTotal.sum}}</strong>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-md-6">
                <span class="text-black">Total</span>
              </div>
              <div class="col-md-6 text-right">
                <strong class="text-black">{{cartTotal.sum}}</strong>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <a href="/cart/checkout" class="btn btn-primary btn-lg py-3 btn-block text-white">Proceed
                  To Checkout</a>
              </div>
            </div>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </div>

</div>

<script>
  function changeQuantity(cartId, count) {
    $.ajax({
      url: '/changeProductQuantity',
      data: {
        cart: cartId,
        count: count
      },
      method: 'post',
      success: (response) => {
        if (response) {
          window.location.reload()
          // $( cartId ).load(window.location.href + cartId );
        }
      }
    })
  }

  function deleteproduct(cartId) {
    $.ajax({
      url: '/deleteproduct',
      data: {
        cart: cartId
      },
      method: 'post',
      success: (response) => {
        window.location.reload()
      }
    })
  }
</script>