<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
<div class="container mt-5 mb-5">

    <div class="row d-flex justify-content-center">

        <div class="col-md-8">

            <div class="card">







                <div id="invoice" class="invoice p-5">
                    {{#each orderDetails.products}}
                    {{#if this.delivered}}
                    <h5>Your order Delivered!</h5>
                    <span>You order has been Delivered</span>
                    {{else}}
                    {{#if this.shipped}}
                    <h5>Your order Shipped!</h5>
                    <span>You order has been Shipped and will be delivered Soon</span>
                    {{else}}
                    <h5>Your order Confirmed!</h5>
                    <span>You order has been confirmed and will be shipped in next five days!</span>
                    {{/if}}

                    {{/if}}

                    {{/each}}


                    <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">

                        <table class="table table-borderless">

                            <tbody>
                                <tr>
                                    <td>
                                        <div class="py-2">

                                            <span class="d-block text-muted"> Order Date</span>
                                            <span>{{orderDetails.date}}</span>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="py-2">

                                            <span class="d-block text-muted">Order No</span>
                                            <span>{{orderDetails.orderId}}</span>

                                        </div>
                                    </td>


                                    <td>
                                        <div class="py-2">

                                            <span class="d-block text-muted">Shiping Address</span>
                                            <span>{{orderDetails.address1}} {{orderDetails.addres2}}</span>

                                        </div>
                                    </td>
                                </tr>
                            </tbody>

                        </table>





                    </div>




                    <div class="product border-bottom table-responsive">

                        <table class="table table-borderless">

                            <tbody>
                                {{#each orderDetails.products}}
                                <tr>
                                    <td width="20%">
                                        <img src="/images/productsImages/{{this.productId}}(1).jpg" width="90">
                                    </td>
                                    <td width="60%">
                                        <span class="font-weight-bold">{{orderDetails.products.brandName}}</span>
                                        <div class="product-qty">
                                            <span>{{this.title}}</span>
                                            <span class="d-block">quantity : {{this.quantity}}</span>
                                            <span class="d-block">Price : {{this.price}}</span>

                                        </div>
                                    </td>
                                    <td width="20%">
                                        <div class="text-right">
                                            <span class="font-weight-bold">Rs.{{this.cartTotal}}</span>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <div class="col-md-5">
                            <table class="table table-borderless">
                                <tbody class="totals">
                                    <tr class="border-top border-bottom">
                                        <td>
                                            <div class="text-right">
                                                <span class="font-weight-bold">Total :{{orderDetails.total}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{#each orderDetails.products}}
                    {{#if this.delivered}}
                    <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
                    <span>SHOPPI</span>
                    {{else}}
                    {{#if this.shipped}}
                    <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
                    <span>SHOPPI</span>
                    {{else}}
                    <p>We will be sending shipping confirmation email when the item shipped successfully!</p>
                    <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
                    <span>SHOPPI</span>
                    {{/if}}

                    {{/if}}

                    {{/each}}




                </div>
                <div class="d-flex justify-content-between footer p-3">
                    <button id="download" class="btn btn-link btn-sm"> Download invoice</button>
                    <span>Need Help? visit our <a href="#"> help center</a></span>


                </div>




            </div>

        </div>

    </div>

</div>


<script>

    window.onload = function () {
        document.getElementById("download")
            .addEventListener("click", () => {
                const invoice = this.document.getElementById("invoice");
                console.log(invoice);
                console.log(window);
                var opt = {
                    margin: 1,
                    filename: '{{orderDetails.orderId}}invoice',
                    image: { type: 'jpeg', quality: 0.98 },
                    html2canvas: { scale: 2 },
                    jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                };
                html2pdf().from(invoice).set(opt).save();
            })
    }
</script>