{{#each profile}}

<section>
    <div class="container pt-5 pb-2">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://cdn-icons.flaticon.com/png/512/3899/premium/3899618.png?token=exp=1654498127~hmac=fa61064fc341180fc3050223961e4679"
                            alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{this.fName}} {{this.lName}} </h5>
                        <p class="text-muted mb-1">{{this.email}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-12">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">First Name</p>
                            </div>
                            <div class="col-sm-9">
                                <input class="text-muted mb-0" name="fistName" id="fisrtName"
                                    value="{{this.fName}}"></input>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Last Name</p>
                            </div>
                            <div class="col-sm-9">
                                <input class="text-muted mb-0" name="lastName" id="lastName" value="{{this.lName}}">
                                </input>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <input class="text-muted mb-0" name="email" id="email" value="{{this.email}}"> </input>
                            </div>
                        </div>




                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0"> Mobile <i class="fa-solid fa-phone"> </i></p>
                            </div>
                            <div class="col-sm-9">
                                <input class="text-muted mb-0" name="phoneNum" id="phoneNum"
                                    value="{{this.pNumber}}"></input>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0"> State</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Kerala</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Peruvayal, Calicut, Kerala</p>
                            </div>
                        </div>

                    </div>

                </div>
                <button type="button" id="editprofile"  class="button ">Edit</button>
                <button type="button"  onclick="updateUser()" class="button ">update</button>
            </div>
</section>
<section>
    <div class="container ">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12 ">
                <div class="card mb-4 ">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="mb-0 ml-5  pl-5 "><b>Mine </b></p>
                            </div>

                        </div>

                        <hr>
                        <div class="col-sm-12">
                            <a href="/orders" class="mb-0 ml-4  ">Orders <b><i class=" icon-list-alt  ps-2"></i></b></a>
                        </div>
                        <hr>
                        <div class="col-sm-12">
                            <a href="/wishlist" class="mb-0 ml-4 ">Wishlist <b><i
                                        class=" icon-heart-o  ps-2"></i></b></a>
                        </div>
                        <hr>
                        <div class="col-sm-12">
                            <a href="/cart" class="mb-0 ml-4 "> Cart <b><i
                                        class=" icon-shopping_cart  ps-2"></i></b></a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


</section>
{{/each}}


<style>
    .button {


        background-color: #0a0a23;
        color: #fff;
        border: none;
        border-radius: 8px;

        min-height: 30px;
        min-width: 120px;
    }

    .button:hover {
        background-color: #002ead;
        transition: 0.5s;
    }
</style>
<script>
    $('#fisrtName').prop("disabled", true)
    $('#lastName').prop("disabled", true)
    $('#email').prop("disabled", true)
    $('#phoneNum').prop("disabled", true)

    //enable

    $('#editprofile').click(() => {
        $('#fisrtName').prop("disabled", false)
        $('#lastName').prop("disabled", false)
        $('#email').prop("disabled", false)
        $('#phoneNum').prop("disabled", false)
    })


    function updateUser() {
        firstName = $('#fisrtName').val()
        lastName = $('#lastName').val()
        email = $('#email').val()
        phoneNum = $('#phoneNum').val()


        $.ajax({
            url: '/updateUser',
            method: 'post',
            data: {
                firstName,
                lastName,
                email,
                phoneNum
            },
            success: (response) => {
                alert('updated')
                window.location.reload()
            }
        })



    }
</script>